.donation {
    background: #F6F6F6;
    max-height: 462px;
    flex-basis: 1280px;
    display: flex;
    /* border: 1px blue solid; */
}

.donationContent {
    display: flex;
    justify-content: space-between;
    height: 282px;
    flex-basis: 915px;
    margin: auto;
    margin-top: 80px;
    /* border: 1px red solid; */
}

.donationDog {
    height: 261px;
    max-width: 505px;

    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px blue solid; */

}

.donationDog img {
    width: 100%;

    /* border: 1px red solid; */
}

.donationContentDog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 282px;
    max-width: 380px;
    /* border: 1px red solid; */
}

.donationContentDog h3 {
    /* h3 */
    /* height: 90px; */
    max-width: 300px;


    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donationContentDog h5 {
    margin-top: 20px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    /* border: 1px red solid; */
}


.donationContentDogCredit-card {
    margin-top: 20px;
    display: flex;
    max-width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    /* border: 1px red solid; */
}

.donationContentDogCredit-card:hover {
    background-color: #FDDCC4;
}

.donationContentDogCredit-card a {
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* border: 1px blue solid; */
    margin: auto;
}

.donationContentDogCredit-card a h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}

.donationContentDog p {

    /* border: 1px solid blue; */
    max-width: 380px;
    margin: auto;
    width: 95%;
    text-align: justify;
    height: 72px;
    left: 0px;
    top: 210px;
    /* donation-description */
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    display: flex;
    align-items: center;

    /* color-dark-m */
    color: #B2B2B2;

}

@media only screen and (max-width : 768px) {
    .donation {
        max-height: 783px;
    }

    .donationContent {
        margin: 0px;
        margin-top: 80px;
        height: 603px;
        flex-direction: column;
        justify-content: space-between;
        /* align-content: center; */
        align-items: center;
        /* border: 3px solid red; */
    }

    .donationDog {
        display: flex;
        order: 1;
        /* height: 261px;
        max-width: 505px; */
        margin: auto;
        margin-bottom: 0px;
    }

    .donationDog img {
        margin: auto;
    }

    .donationContentDog {}

    .donationContentDog h3 {}

    .donationContentDog h5 {}

    .donationContentDogCredit-card {}

    .donationContentDogCredit-card:hover {}

    .donationContentDogCredit-card a {}

    .donationContentDogCredit-card a h4 {}

    .donationContentDog p {}


}

@media only screen and (max-width : 320px) {
    .donation {
        max-height: 542.2px;
    }

    .donationContent {
        max-width: 320px;
        margin: auto;
        /* margin-left: 0px;
        margin-right: 0px; */
        margin-top: 42px;
        height: 458px;
        /* border: 1px solid blue; */

    }

    .donationDog {
        margin: 0px;
        margin-left: auto;
        margin-right: auto;
        height: 135.1999969482422px;
        max-width: 260px;
        /* border: 1px solid red; */


    }

    .donationDog img {
        width: 100%;
    }

    .donationContentDog {

        max-width: 300px;
        height: 281px;
        /* margin: auto; */
    }

    .donationContentDog h3 {
        font-size: 25px;
        text-align: center;
        /* border: 1px solid red; */

    }

    .donationContentDog h5 {
        margin: 0px;
        margin-top: 20px;
        font-size: 15px;
        text-align:center;
    }

    .donationContentDogCredit-card {
        margin-top: 20px;
    }

    .donationContentDogCredit-card:hover {}

    .donationContentDogCredit-card a {
        /* margin: 0px; */
        /* margin-top: 20px; */
    }

    .donationContentDogCredit-card a h4 {
        font-size: 15px;
    }

    .donationContentDog p {
        margin-top: 20px;
        font-size: 12px;
        height: 90px;
        max-width: 280px;
        text-align: justify;
    }


}